APP_ENV=local
DEBUG=true
SECRET_KEY=change-this-local-secret
ALLOWED_HOSTS=127.0.0.1,localhost
LOG_LEVEL=INFO
SENTIMENT_MODEL_NAME=tabularisai/multilingual-sentiment-analysis
SENTIMENT_MODEL_TASK=text-classification
